body {
  font: 18px "Open Sans", sans-serif;
  padding-top:50px;
  background-color:#FFFFFF;
  color:#222222;
}
p {
  line-height: 1.5em;
}
.navbar {
  background-color: #E74C3C;

}

a {
  color: #E74C3C;
}

a:hover{
  color:#E74C3C;
}

a:active{
  color: #A01607;
}

a:focus{
  color: #A01607;
}

.leftcenter{
  /*
  margin-left:15%;
  margin-right:15%;
  margin-top:100px;
  */
}

.title{
  font-weight:bold;
  font-size:56px;
  line-height:1.5em;
  padding-top:40px;
  color:#A01607;
}

.navbar-brand {
  padding-top:2.5px;
}

.btn-default{
  color: white;
  background-color: #E74C3C;
  border-radius: 5px;
  font-size: 30px;
  text-decoration: none;
  border: 0;
}

.btn-default:hover{
  background-color:#E95E50;
  color:white;
}

.btn-default:focus{
  background-color:#E74C3C;
  color:white;
}

.jumbotron {
  background-color:transparent;
}


.header{
  vertical-align: middle;
  background: url('/images/bg.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 847px;
  text-align: center;
}

.header-text{
  color:white;
  position: relative;
  z-index: 1005;
  width: 100%;
  text-align: bottom;
  margin-bottom: 3em;
  font-size:72px;
}
.header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1004;
  background-color: rgba(25,0,0,0.6);
}

.footer{
    padding-top:200px;
}

.footercontainer{
  background-color: #222222;
width: 100%;
height: 100px;
/* padding: 70px 275px 0px 275px; */
padding-top: 2em;
}

.footertext{
  color: #E74C3C;
  position:relative;
  width:100%;

}
