<div class="container jumbotron">
  <h1 class="center">Let's Work Together</h1>
  <p class="center">LyteHacks wants to work with local businesses in order to grow the Tallahassee tech community.</p>

</div>
